*{
    margin: 0;
    padding: 0;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculator{
    background: rgb(134, 117, 94);
    padding: 10px;
    border-radius: 5px;
}

.text-view {
    width: 215px;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;

}

.button{
    width: 50px;
    height: 50px;
    font-size: 22px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 2px #fdfd;
}

.button:hover{
    box-shadow: 0px 0px 3px gray;
}


.equal{
    height: 110px;
}

.equal:hover{
    background: yellow;
    color: aliceblue;
}

.zero{
    width: 110px;
}